<template>
    <div id="history-banner-container">
        <div id="title">{{ title }}</div>
        <div id="subtitle">{{ subtitle }}</div>
        <div id="loc-date">{{ location }} / {{ date }}</div>
    </div>
</template>

<script>
    export default {
        props: ['title', 'subtitle', 'location', 'date']
    }
</script>

<style scoped>
    #history-banner-container {
        width: 100%;
        margin: 8px 0;
        border: 1px black solid;
        box-shadow: 5px 5px 1px #121212;
        background-color: #FFFFFF;
        padding: 0 10px;
        position: relative;
    }

    #title {
        font-size: 24px;
        font-weight: 600;
    }

    #subtitle {
        font-size: 14px;
    }

    #loc-date {
        position: absolute;
        bottom: 0; right: 0;
        margin-right: 3px;
    }

    @media only screen and (max-width:700px) {
        #title, #subtitle, #loc-date {
            text-align: center;
        }

        #loc-date {
            position: unset;
            margin-right: 0;
        }
    }
</style>