<template>
    <div id="project-container">
        <div id="project-title">{{ title }}</div>
        <div id="project-msg">{{ msg }}</div>
        <hr>
        <div id="project-link"><a target="_blank" v-bind:href="url">View the source here <i class="fas fa-external-link-alt"></i></a></div>
        <div id="note">{{ note }}</div>
    </div>
</template>

<script>
    export default {
        props: ['title', 'msg', 'url', 'note']
    }
</script>

<style scoped>
    /*
    TODO: Write up styling as I go through with making this component
    */

    #project-container {
        width: 100%;
        margin: 8px 0;
        border: 1px black solid;
        box-shadow: 5px 5px 1px #121212;
        background-color: #FFFFFF;
        padding: 0 10px;
    }

    #project-title {
        font-size: 24px;
        font-weight: 600;
    }

    #project-link {
        padding: 0 6px 6px 1px;
    }

    #note {
        font-size: 12px;
    }

    a {
        color: #002243;
    }

    i {
        font-size: 11px;
    }
</style>