/* Strictly used for global document-level changes, not individual aspects of web elements */

html {
    font-family: source-sans-pro, sans-serif;
    max-width: 920px;
    height: 100%;
    padding: 0;
    margin: 0 auto;

    background-color: #F5F5F5;
}

/* banner styles, keeping here for reasons */
.inner-table-item {
    border-left: 1px solid;
    border-right: 1px solid;
}

.inward-link, .outward-link {
    text-decoration: none;
}

.inward-link {
    color: #EEEEEE;
    display: block;
    width: 100%;
}

#outward-links {
    margin: 0 auto;
}

.outward-link {
    font-size: 19px;
}

td > .outward-link {
    margin: 4px;
}

.outward-link:link, .outward-link:visited {
    color: #002243;
}

#title, #summary {
    text-align: center;
    margin: 0;
    padding: 0;
}

#title {
    font-size: 26px;
}

#summary {
    font-size: 16px;
}

#inward-links, #outward-links {
    text-align: center;
}

#inward-links {
    width: 85%;
    margin: 0 auto;
}

#inward-links td {
    border: 1px black solid;
    width: 33%;
    height: 12px;
    background: #002243;
}

#me {
    width: 100%;
    height: 100%;

    margin: 0 auto;
    display: block;

    border-radius: 50%;
}

#source {
    text-align: center;
    font-size: 12px;
}

#source .outward-link {
    font-size: inherit;
}

/* Fun adjustments for mobile */
@media only screen and (max-width:700px) {
    #inward-links {
        width: 95%;
    }
}