<template>
    <div id="content">
        <div id="right">
            <img alt="me :)" id="me" src="~/assets/img/me.jpg">
            <p id="title">Rhett Gordon</p>
            <p id="summary">
                I'm an FSU student, studying software development in order make a program's functionality as efficient as possible.
            </p>
            <hr>
            <table id="inward-links">
                <tr>
                    <td><nuxt-link class="inward-link" to="/about">About</nuxt-link></td>
                    <td><nuxt-link class="inward-link" to="/projects">Projects</nuxt-link></td>
                    <td><nuxt-link class="inward-link" to="/history">History</nuxt-link></td>
                </tr>
            </table>
            <br id="h">
            <table id="outward-links">
                <tr>
                    <td><a class="outward-link" target="_blank" href="https://www.linkedin.com/in/rhettgordon/"><i class="fab fa-linkedin"></i></a></td>
                    <td class="inner-table-item"><a class="outward-link" target="_blank" href="https://github.com/rtgordon"><i class="fab fa-github"></i></a></td>
                    <td><a class="outward-link" target="_blank" href="mailto:rtg17@my.fsu.edu"><i class="fas fa-envelope"></i></a></td>
                </tr>
            </table>
            <p id="source">View the website source on <i class="fab fa-github-alt"></i> <a target="_blank" class="outward-link" href="https://github.com/rtgordon/rtgordon.github.io">Github</a><br>Contributions to improve it are always welcome!</p>
        </div>
        <nuxt id="left"/>
    </div>
</template>

<style scoped>
    #content {
        height: 100%
    }

    #right {
        float: right;
        width: 45%;
    }

    #left {
        width: 45%;
        margin: 0; padding: 0;
    }

    @media only screen and (max-width:700px) {
        #right, #left {
            float: none;

            width: 90%;
            margin: 0 auto;
        }

        #h, #me, #source {
            display: none;
        }
    }
</style>