<template>
    <div class="container">
        <h1 v-if="error.statusCode === 404">Page not found</h1>
        <h1 v-else>An error occurred</h1>
        <p>Seems you got here by taking a wrong turn.</p>
        <p>Using any of the links over to the right should guide you in the right direction.</p>
        <p>In other situations, email me!</p>
    </div>
</template>

<script>
    export default {
        head () {
            return {
                title: 'error'
            }
        },
        props: ['error']
    }
</script>