<template>
    <div id="about-container">
        <h1>ABOUT</h1>
        <p>
            My name is Rhett Gordon, and as stated I am a student pursuing a career in software development.
            My interests - and ultimately my mission in this career - is to create the parts of the software that turn the cogs
            and create them in a manner that keeps things running smoothly.
        </p>
        <p>
            My interests in computers in general stemmed from my enjoyment of video games in my younger years, and that enjoyment lead
            to an interest in developing them. I ended up attending Crooms Academy of Information Technology for my high school
            years, pursuing subjects which would help me break into that industry. Programming stood out for me, amongst subjects
            like music theory and 3D modeling, as I found joy in being able to make things tick. That joy is what brought me to
            where I am now.
        </p>
        <p>
            Currently, my skillsets are strongest in low-level languages like C and C++, though I have been working to refine
            knowledge in Node.JS recently. I also have experience in Java and PHP, specifically meant for two courses I
            took at FSU where it was neccesary.
        </p>
    </div>
</template>

<script>
    export default {
        head () {
            return {
                title: 'about'
            }
        }
    }
</script>