<template>
    <div>
        <h1>HISTORY</h1>
        <historybanner
            title="Dataviellance"
            subtitle="Materials Review"
            location="Cooper City, FL"
            date="2015 - 2017" />
        <p>
            <a target="_blank" href="https://www.dataveillance.com/">Dataviellance <i class="fas fa-external-link-alt"></i></a> is a company that aims in training police officers
            in the United States about how to step up their investigative skills in the digital age of social media. The
            focus I had within the company involved review of the materials used in the presentations, as well as bringing
            new skills forth that would be used in future courses.
        </p>
        <historybanner
            title="Girls Scouts of America"
            subtitle="STEM Volunteering"
            location="Tallahassee, FL"
            date="2018" />
        <p>
            During the Fall 2018 term at FSU, I participated in a volunteering group for the Girl Scouts of America,
            where the local group was very focused on STEM-related activities. The tasks I was given involved assisting
            and teaching the youth about things like space, using Arduinos, and the environment.
        </p>
        <historybanner
            title="Kearney Center"
            subtitle="Tech Workshop"
            location="Tallahassee, FL"
            date="2018" />
        <p>
            Another Fall 2018 term activity was collaborating with a team on a course we would teach at the <a target="_blank" href="https://kearneycenter.org/">Kearney Center <i class="fas fa-external-link-alt"></i></a>,
            a place where the homeless can congregate to access food and other basic needs. It was an activity that required
            us to rapdily adapt on-the-spot to the needs of the individuals who stopped by to the workshop.
        </p>
    </div>
</template>

<script>
    import historybanner from '~/components/history-banner.vue';
    export default {
        components: {
            historybanner
        },
        head () {
            return {
                title: 'history'
            }
        }
    }
</script>

<style scoped>
    a {
        color: #002243;
    }

    i {
        font-size: 11px;
    }
</style>