<template>
    <!-- blank -->
</template>

<script>
    export default {
        head () {
            return {
                title: 'landing'
            }
        },
        layout: 'landing'
    }
</script>