<template>
    <div id="projects-container">
        <h1>PROJECTS</h1>
        <!-- Should only contain project components -->
        <!-- FSU coursework -->
        <project
            title="FSU - LIS4368 + LIS4381"
            msg="Both of thses courses were taught by Professor Mark Jowett, and involved development of MySQL databases
            and applying them within web applications. PHP was utilized for LIS4381, and Java servlets for LIS4368."
            url="https://bitbucket.org/rtg17/"
            note="There is no actual website hosting this content."/>
        <!-- Website -->
        <project
            title="rtgordon.github.io"
            msg="This website was written using Nuxt.JS, and the source for that is made available to the public. I hope that anyone who peeks at it can help me with improving it further."
            url="https://github.com/rtgordon/rtgordon.github.io"/>
    </div>
</template>

<script>
    import project from '~/components/project.vue';
    export default {
        components: {
            project
        },
        head () {
            return {
                title: 'projects'
            }
        }
    }
</script>